/* Delete these styles and add your own styles here! */

body {
  font-size: var(--font-3);
  box-sizing: border-box;
}

header {
  background: var(--purple);
  color: var(--white);
  padding: var(--spacing-6) var(--spacing-0) var(--spacing-6);
  text-align: center;
}

.banner {
  position: absolute;
  top: -10px;
  left: var(--spacing-4);
}

.banner img {
  height: 80px;
}

.banner:hover img {
  animation: wave-flag 0.5s linear infinite alternate;
}

@media (prefers-reduced-motion: reduce) {
  .banner:hover img {
    transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) transform;
    transform-origin: top left;
  }
}

@keyframes wave-flag {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

header > p, header > p > a{
  color: var(--white)!important;
}

.container {
  margin: var(--spacing-4) auto;
}

.blurb {
  border: 2px dashed var(--border);
  border-radius: var(--radii-default);
  font-size: var(--font-4);
  padding: var(--spacing-4);
}

.title {
  margin-bottom: var(--spacing-4);
}

div.nutshell-bubble-overflow-section > div > h1:nth-child(1) {
  display: none;
}

div.nutshell-bubble-overflow-section > div > h1:nth-child(2) {
  display: none;
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 40px;
}

.nutshell-heading-embed {
  display: none;
}

@media screen and (max-width: 700px) {
  :root {
    --header-font: 10vw!important;
    --footer-font: 15vw!important;
  }
}

:root {
  --header-font: 2.2em;
  --footer-font: 4em;
}
